:root {
  --hp-color: rgb(66, 214, 66);
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

html {
  background-color: rgb(25, 25, 30);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
height: fit-content;
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
border: 4px solid rgb(0, 0, 0);
}



.map {
width: 1200px;
overflow: hidden;
}

.countdown {
  position: absolute;
  left: 21%;
  top: 40%;
  width: 700px;
}

.players {
  
}

.timer {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 50px;
  font-size: 54pt;
  color: rgb(0, 0, 0);
}

#player-name-hp0,  #player-name-hp1{
  font-family: "Bungee Outline", cursive;
  color: rgb(255, 255, 255);
}

.hp-container0{
  position: absolute;
  z-index: relative;
  top: 50px;
  left: 120px;
  height: 50px;
  width: 300px;
  border: solid 2px black;
}

.hp0 {
  position: absolute;
  background-color: var(--hp-color);
  height: 50px;
  transition: width 1s ease-out;
  z-index: 99;
}

.hp-container1{
  position: absolute;
  top: 50px;
  left: 780px;
  height: 50px;
  width: 300px;
  border: solid 2px black;
}

.hp1 {
  background-color: var(--hp-color);
  height: 50px;
  transition: width 1s ease-out;
}

