html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

html {
  background-color: rgb(25, 25, 30);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
height: fit-content;
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
border: 4px solid rgb(0, 0, 0);
}

.map {
width: 1200px;
overflow: hidden;
}

.players {
 
}

.hp1 {
  position: absolute;
  top: 10px;
  left: 10px;
}


.hp0 {
  position: absolute;
  top: 10px;
  left: 1175px;
}