:root {
  --hp-color: rgb(66, 214, 66);
}

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

html {
  background-color: rgb(25, 25, 30);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
height: fit-content;
width: fit-content;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
border: 4px solid rgb(0, 0, 0);
}

.main-menu {
  position: relative;
}

.menu {
  position: absolute;
  left: 0;
  top: 175px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu > button {
  background-color: rgb(12, 12, 12);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px white solid;
  font-size: 21pt;
  color: white;
  font-family: "Bungee Outline", cursive;
  text-align: start;
  margin-left: 20px;
  cursor: pointer;
}

.menu > button:hover {
  background-color: rgba(12, 12, 12, 0.75);
  cursor: pointer;
  border: 1px black solid;
}

.logo {
  position: absolute;
  z-index: 99;
  left: 30px;
  font-size: 64pt;
  color: white;
  top: -30px;
  font-family: 'Bangers', cursive;
  animation: logo 3s ease infinite;
}

@keyframes logo {
  0% {
    transform: scale(1);
    color: black;
  } 50% {
    transform: scale(1.1);
    color: white;
  }
    100% {
      transform: scale(1.0);
      color: black;
    }
}

.menu-map {
  position: relative;
  width: 1200px;
  overflow: hidden;
}

.menu-options {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.0);
}

.create-room {
  display: flex;
  position: absolute;
  left: 37%;
  top: 45%;
  gap: 10px;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.create-room > input {
  height: 35px;
  width: 300px;
  font-size: 14pt;
  border: black solid 3px;
  padding-left: 5px;
}

.create-room > button {
  height: 35px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 12pt;
  border: white solid 1px;
  font-family: 'Josefin Sans', sans-serif;
}

.back {
  position: absolute;
  bottom: -275px;
  left: -435px;
}

.map {
width: 1200px;
overflow: hidden;
}

.timer {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  top: 32px;
  font-size: 54pt;
  font-weight: 700;
  border-radius: 50%;
  color: black;
}

#player-name-hp0,  #player-name-hp1{
  font-family: "Bungee Outline", cursive;
  color: rgb(255, 255, 255);
}

.hp-container0{
  position: absolute;
  top: 40px;
  left: 40px;
  height: 40px;
  width: 500px;
  border: solid 2px black;
}   

.hp0 {
  position: absolute;
  background-color: var(--hp-color);
  height: 40px;
  transition: width .5s ease-out;
  z-index: 99;
}

.hp-container1{
  position: absolute;
  top: 40px;
  left: 655px;
  height: 40px;
  width: 500px;
  border: solid 2px black;
}

.hp1 {
  background-color: var(--hp-color);
  height: 40px;
  transition: width .5s ease-out;
}

.wins {
  color: black;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

.victory-or-walrus {
  position: absolute;
  color: white;
  top: 32%;
  left: 16%;
  height: 350px;
  font-size: 54pt;
  font-family: 'Bungee Inline', cursive;
  animation: victory-or-walrus 4s ease forwards;
}

.victory {
  color: var(--hp-color);
}

.walrus {
  color: rgb(171, 48, 171);
}

@keyframes victory-or-walrus {
  0% {
    
    opacity: 1;
  }
  50% {
    
    opacity: 1;
    
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    opacity: 0;
  }
}


.fight {
  position: absolute;
  color: red;
  top: 26%;
  left: 35%;
  font-size: 74pt;
  font-family: 'Bungee Inline', cursive;
  animation: fight 4s ease forwards;
}

@keyframes fight {
  0% {
    opacity: 0;
  }
  50% {
    
    opacity: 0;
    
  } 80% {
    opacity: 0;
  } 90% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(2);
    opacity: 1;
  }
}


.ko {
  position: absolute;
  top: 22%;
  left: 41%;
  font-size: 68pt;
  font-family: 'Bungee Inline', cursive;
  animation: ko 4s ease forwards;
}

@keyframes ko {
  0% {
    color: rgb(255, 0, 0);
    transform: scale(1);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: red;
    transform: scale(3);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(2);
    opacity: 1;
    color: white;
    text-shadow: 0px 0 0 rgba(255, 255, 255, 0);
  }
}

.winner {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 34pt;
  font-family: 'Bungee Inline', cursive;
  animation: winner 4s ease forwards;
}

@keyframes winner {
  0% {
    color: rgb(255, 0, 0);
    transform: scale(1);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  30% {
    color: rgb(0, 0, 255);
    transform: scale(2);
    opacity: 0;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
    100% {
      transform: scale(1);
      opacity: 1;
      color:rgb(0, 0, 255);
      text-shadow: 1px 0 0 rgba(255, 255, 255, 0);
    }
}







